        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        .container {
            width: 1400px;
            margin: 0 auto;
        }
        
        .navbar {
            width: 1400px;
            height: 72px;
            background-color: #000000;
        }
        
        .logo {
            display: block;
            padding-top: 23px;
            padding-left: 150px;
            float: left;
            clear: both;
        }
        
        .navbar-menu {
            display: block;
            padding-top: 31px;
            padding-left: 482px;
            padding-right: 148px;
            text-align: right;
        }
        
        .navbar-menu li {
            display: inline;
            padding: 0 48px;
            opacity: 0.69;
            font-size: 14px;
            font-weight: 400;
            list-style-type: none;
        }
        
        .navbar-menu a {
            color: #ffffff;
            font-family: "Open Sans - Semibold";
            text-decoration: none;
        }
        
        .navbar-menu a:hover {
            color: #ff8b38;
            text-decoration: underline;
            text-decoration-color: #ff8b38;
        }
        
        .navbar-menu a:active {
            color: #f5f5f5;
            text-decoration: underline;
            text-decoration-color: #f5f5f5;
        }
        
        .header {
            width: 1400px;
            height: 641px;
            background-image: url("../img/header.png");
            position: relative;
        }
        
        .big-logo {
            padding-top: 110px;
            padding-left: 150px;
            float: left;
            clear: both;
        }
        
        .header-text {
            width: 662px;
            color: #ffffff;
            font-family: Raleway;
            font-size: 34px;
            font-weight: 400;
            text-transform: uppercase;
            padding-top: 33px;
            padding-left: 150px;
            float: left;
            clear: both;
        }
        
        .divider {
            display: block;
            width: 74px;
            height: 16px;
            border-bottom: 1px solid #fff;
            margin-top: 36px;
            margin-left: 150px;
            float: left;
            clear: both;
        }
        
        .description {
            display: block;
            width: 461x;
            height: 61px;
            width: 461px;
            height: 61px;
            opacity: 0.8;
            color: #ffffff;
            font-family: Raleway;
            font-size: 15px;
            font-weight: 300;
            line-height: 23px;
            margin-top: 30px;
            margin-left: 150px;
            margin-bottom: 44px;
            float: left;
            clear: both;
        }
        
        .header-bottom {
            display: block;
            width: 135px;
            height: 42px;
            border: 1px solid #fff;
            padding: 12px 32px;
            text-align: center;
            margin-left: 150px;
            color: #fff;
            font-family: "Open Sans - Semibold";
            font-size: 15px;
            font-weight: 400;
            text-decoration: none;
            float: left;
            clear: both;
        }
        
        .header-bottom:hover {
            border: 1px solid #ff8b38;
            color: #ff8b38;
        }
        
        .header-bottom:active {
            border: 1px solid #fff;
            color: #fff;
        }
        
        .form-registration {
            position: absolute;
            display: block;
            width: 360px;
            height: 314px;
            top: 140px;
            left: 891px;
            border-radius: 5px;
            background-color: #ffffff;
        }
        
        .form-title {
            width: 360px;
            height: 54px;
            background-color: #f5f5f5;
            color: #333333;
            font-family: "Open Sans";
            font-size: 20px;
            font-weight: 700;
            padding: 15px 0;
            text-align: center;
        }
        
        .form-title span {
            color: #ff8b38;
        }
        
        .form-item {
            /* Style for "name_input" */
            width: 285px;
            height: 31px;
            box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);
            justify-content: center;
            border: none;
            /* Style for "Name" */
            color: #bdbdbd;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 400;
            margin-top: 36px;
            margin-left: 45px;
        }
        
        .registerbtn {
            /* Style for "btn_primar" */
            width: 362px;
            height: 54px;
            margin-top: 49px;
            background-color: #ff9b51;
            color: #ffffff;
            font-family: "Open Sans";
            font-size: 15px;
            font-weight: 400;
        }
        
        .registerbtn:hover {
            background-color: #ffffff;
            color: #ff9b51;
        }
        
        .registerbtn:active {
            background-color: #ff9b51;
            color: #ffffff;
        }
        
        .social-media {
            width: 1400px;
            height: 105px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.38);
            background-color: #ffffff;
            position: relative;
        }
        
        .social-text {
            float: left;
            clear: both;
            height: 389px;
            width: 512px;
            padding-left: 152px;
            margin-right: 100px;
            padding-top: 22px;
        }
        
        .social-h5 {
            color: #333333;
            font-family: "Open Sans";
            font-size: 20px;
            font-weight: 700;
        }
        
        .social-p {
            color: #86878b;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }
        
        @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
        .social a {
            text-align: center;
            width: 48px;
            height: 48px;
            float: left;
            background: #fff;
            border: 1px solid #ccc;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 0 50px rgba(0, 0, 0, 0.1);
            border-radius: 24px;
            margin: 0 50px 30px 0;
            padding: 6px;
            color: grey;
        }
        
        .facebook a:hover {
            background: #3f2cd0;
            color: #fff;
        }
        
        .stumbleupon a:hover {
            background: #de8645;
            color: #fff;
        }
        
        .google-pluse a:hover {
            background: #DD4B39;
            color: #fff;
        }
        
        .twitter a:hover {
            background: #00acee;
            color: #fff;
        }
        
        .pinterest a:hover {
            background: #c8232c;
            color: #fff;
        }
        
        .instagram a:hover {
            background: #3f729b;
            color: #fff;
        }
        
        .rss a:hover {
            background: #ff9b51;
            color: #fff;
        }
        
        .social {
            margin-left: 200px;
            margin-top: 22px;
        }
        
        .social-icons {
            margin-left: 200px;
            padding-top: 13px;
        }
        
        .feauters-panel {
            /* Style for "Features P" */
            width: 1400px;
            height: 595px;
            background-color: #f5f5f5;
            position: relative;
        }
        
        .pagination {
            width: 112px;
            height: 334px;
            position: absolute;
            top: 147px;
            left: 142px;
            float: left;
            clear: both;
        }
        
        .tab {
            width: 112px;
            height: 112px;
            border: 0.5px solid white;
            display: block;
            background-color: #333333;
            /* Style for "TAB 1" */
            color: #ffffff;
            font-family: "Open Sans";
            font-size: 15px;
            font-weight: 700;
            line-height: 20px;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            padding-top: 45px;
            float: left;
            clear: both;
        }
        
        .tab:hover {
            background-color: #ff8b38;
        }
        
        .active-btn {
            background-color: #ff8b38;
        }
        
        .feauters-text {
            float: left;
            clear: both;
            padding-left: 355px;
            margin-top: -135px;
        }
        
        .feauters-h5 {
            color: #333333;
            font-family: "Open Sans";
            font-size: 20px;
            font-weight: 700;
        }
        
        .feauters-p {
            color: #86878b;
            font-family: "Open Sans";
            font-size: 13.5px;
            font-weight: 400;
            line-height: 20px;
            padding-top: 52px;
            width: 476px;
            height: 132px;
        }
        
        .buildings {
            padding-left: 575px;
            margin-top: -135px;
        }
        
        .feauter2 {
            /* Style for "Feature 2" */
            width: 1400px;
            height: 596px;
            background-color: #ffffff;
        }
        
        .panel {
            /* Style for "image_left" */
            width: 525px;
            height: 375px;
            margin-top: 111px;
            margin-left: 116px;
            position: relative;
            background-image: url(../img/image_left_sub_list_u260.png);
            float: left;
            clear: both;
        }
        
        .photo-feauter {
            /* Style for "image_left" */
            width: 453px;
            height: 303px;
            position: absolute;
            left: 36px;
            top: 16px;
            border-image: linear-gradient(#0B0E7F, #0B95DD);
        }
        
        .section {
            /* Style for "Sub list s" */
            color: #212121;
            font-family: "Open Sans";
            font-size: 20px;
            font-weight: 700;
            line-height: 43px;
            display: block;
        }
        
        .sub-list {
            padding-top: 107px;
            padding-left: 798px;
        }
        
        .feauter2-hr {
            /* Style for "divider_or" */
            margin-top: 29px;
            margin-left: 158px;
        }
        
        .feauter-text {
            display: block;
            /* Style for "Lorem ipsu" */
            width: 413px;
            height: 55px;
            color: #86878b;
            font-family: "Open Sans";
            font-size: 13.5px;
            font-weight: 400;
            line-height: 20px;
            margin-top: 29px;
            margin-left: 158px;
            float: left;
        }
        
        .feauter-btn {
            display: inline-block;
            padding: 10px;
            color: #ff9b51;
            background-image: url(../img/list_icon_upload_u127.svg);
            width: 40px;
            height: 40px;
            margin-top: 46px;
            margin-left: 158px;
            float: left;
        }
        
        .title {
            /* Style for "Title" */
            display: inline-block;
            margin-top: 135px;
            margin-left: -340px;
            width: 29px;
            height: 12px;
            color: #212121;
            font-family: "Open Sans - Semibold";
            font-size: 14px;
            font-weight: 600;
            line-height: 17px;
        }
        
        .feauter-title-text {
            /* Style for "Lorem ipsu" */
            width: 360px;
            height: 32px;
            color: #86878b;
            font-family: "Open Sans";
            font-size: 13.5px;
            font-weight: 400;
            line-height: 20px;
            margin-top: 12px;
            margin-right: 168px;
            float: right;
        }
        
        .title-2 {
            display: inline-block;
            margin-top: 42px;
            margin-right: 500px;
            width: 29px;
            height: 12px;
            color: #212121;
            font-family: "Open Sans - Semibold";
            font-size: 14px;
            font-weight: 600;
            line-height: 17px;
            float: right;
        }
        
        .feauter-title-text-2 {
            width: 360px;
            height: 32px;
            color: #86878b;
            font-family: "Open Sans";
            font-size: 13.5px;
            font-weight: 400;
            line-height: 20px;
            margin-top: 12px;
            margin-right: 168px;
            float: right;
        }
        
        .feauter-btn-2 {
            display: inline-block;
            padding: 11px;
            color: #ff9b51;
            background-image: url(../img/list_icon_upload_u127.svg);
            width: 40px;
            height: 40px;
            margin-top: 67px;
            margin-left: 158px;
            float: left;
        }
        
        .feauter3 {
            /* Style for "Features P" */
            width: 1400px;
            height: 524px;
            background-color: #f5f5f5;
        }
        
        .feauter-h3 {
            padding-top: 107px;
            padding-left: 153px;
        }
        
        .feauter3-hr {
            margin-top: 29px;
            margin-left: 153px;
        }
        
        .feauter3-text {
            /* Style for "Lorem ipsu" */
            width: 473px;
            height: 132px;
            color: #86878b;
            font-family: "Open Sans";
            font-size: 13.5px;
            font-weight: 400;
            line-height: 20px;
            float: left;
            margin-top: 30px;
            margin-left: 153px;
        }
        
        .photo-feauter3 {
            float: right;
            border-image: linear-gradient(#0B0E7F, #0B95DD);
            margin: -70px 125px 0 0;
            box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.5);
        }
        
        .our-process {
            width: 100%;
            height: 592px;
        }
        
        .cards {
            display: flex;
        }
        
        .our-process-title {
            text-align: center;
            /* Style for "WHY THIS I" */
            color: #212121;
            font-family: Raleway;
            font-size: 36px;
            font-weight: 400;
            line-height: 43px;
            text-transform: uppercase;
            margin-top: 108px;
        }
        
        .our-process-divider {
            margin: 30px auto;
        }
        
        .our-process p {
            text-align: center;
            color: #86878b;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }
        
        .our-process-card {}
        
        .circle {
            background-image: url(../img/circle.svg);
            background-repeat: no-repeat;
            text-align: center;
            color: #ff8b38;
            font-size: 32px;
            font-weight: 400;
            width: 70px;
            height: 70px;
            padding-top: 17px;
            margin: 20px auto;
        }
        
        .our-process-card h4 {
            /* Style for "Thoughtful" */
            color: #333333;
            font-family: "Open Sans";
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            text-align: center;
            margin-top: 29px;
        }
        
        .our-process-card p {
            /* Style for "Lorem ipsu" */
            width: 350px;
            height: 52px;
            color: #86878b;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
            margin: 25px auto;
        }
        
        .center,
        .right,
        .left {
            height: 100%;
            width: 33%;
            margin: 80px auto;
        }